/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My code */
.body-wrapper {
  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(300px, 325px) 1fr;
  grid-template-rows: 200px 1fr;

}

.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;

  padding: 8px 24px;

  background-color: rgb(25, 98, 208);

  color: white;
}

.nav-bar {
  display: grid;
  grid-auto-rows: 2em;
  gap: 1.3em;

  align-items: center;
  margin-top: 3em;
}

.sidebar-icon {
  width: 1.6em;
  filter: invert(1);
}

a {
  text-decoration: none;
  color: initial;
}

.nav-link {
  display: grid;

  grid-template-columns: 2em 1fr;
  gap: 1em;

  align-items: center;

  font-size: 1.4em;
  font-weight: 700;

  color: white;
}

.page-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-icon {
  width: 4em;
}

.header {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  border: 1px solid palevioletred;
}

.top-row {
  grid-column: 1 / span 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
}

.bottom-row {
  grid-column: 1 / span 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 50px 1fr 50px 1fr;
}

.projects-section-title {
  grid-column: 1;
  grid-row: 1;
}

.project-wrapper {
  grid-column: 1;
  grid-row: 2 / span 3;


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-rows: 200px;

}

.content-sidebar {
  grid-column: 2;
  grid-row: 1 / span 4;

  display: grid;

  grid-template-rows: subgrid;
}

.app-announcements {
  grid-row: 1;
}

.announcements-section {
  grid-row: 2;
}

.trending-profiles {
  grid-row: 3;
}

.trending-sections {
  grid-row: 4;
}